.container {
  max-width: 400px;
}


.question-box {
  word-wrap: break-word;
  text-align: center;
  height: max-content;
  flex-flow: column wrap;
  align-self: center;
  justify-self: center;
}

.img-question {
  box-align: center;
  width: 90px;
  height: auto;
}

label {
  box-sizing: border-box;
  justify-self: space-around;
  margin: 5px;
  width: 80px;
  height: auto;
  display: block;
  position: relative;
}
